<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibestudio.app"
    android:versionCode="1"
    android:versionName="1.0">

    <application 
        android:label="VibeStudio" 
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:allowBackup="true">

        <service 
            android:name=".TerminalService" 
            android:exported="false" />

        <activity 
            android:name=".OnboardingActivity" 
            android:label="VibeStudio" 
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name=".MainActivity" 
            android:label="VibeStudio" 
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
